*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'Kumbh Sans', sans-serif;
    background-image: linear-gradient(-225deg, #AC32E4 0%, #7918F2 48%, #4801FF 100%);;
}
.card{
    padding:10% 15%;
}
.card-features{
    border-radius: 30px;
    background-image: url("/images/bg-pattern-desktop.svg");
    background-position: left -45vw bottom -25vh;
    background-color: white;
    background-repeat: no-repeat;
    padding: 6%;
    
}
.card-features-item{
    display: flex;
    
}
.card-features-item-illustration{
    position: relative;
    right: 55px;
    flex-basis: 50%;
    background-image: url("/images/illustration-woman-online-desktop.svg");
    background-repeat: no-repeat;
    background-size: 450px;
    background-position-x: -50px;
    background-position-y: 10px;    
}
.illustration{
    position: relative;
    top: 7rem;
    right: 5.8rem;
}
.faqs{
    flex-basis: 50%;
}
.faq{
    margin-top: 2rem;
    border-bottom: 0.5px solid lightgrey;
    cursor: pointer;
}
.question{
    display: flex;
    min-height: 4vh;
    justify-content: space-between;
}
.answer{
    max-height: 0;
    overflow: hidden;
}
.faq.active .answer{
    max-height: 300px;
}