*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'Kumbh Sans', sans-serif;
    background-image: linear-gradient(-225deg, #AC32E4 0%, #7918F2 48%, #4801FF 100%);;
}
.card{
    padding:10% 15%;
}
.card-features{
    border-radius: 30px;
    background-image: url("/images/bg-pattern-desktop.svg");
    background-position: left -45vw bottom -25vh;
    background-color: white;
    background-repeat: no-repeat;
    padding: 6%;
    
}
.card-features-item{
    display: flex;
    padding-top: 5%;
}
.illustration-picture{
    padding-bottom: 20% ;
    position: relative;
    right: 55px;
    flex-basis: 50%;
    background-image: url("/images/illustration-woman-online-desktop.svg");
    background-repeat: no-repeat;
    background-size: 450px;
    background-position-x: -70px;
        
}
.illustration{
    position: relative;
    top: 7rem;
    right: 5.8rem;
}
.faqs{
    flex-basis: 40%;
    max-width: 350px;
    margin-left: 10%;
    margin-top: 20px;
}
.faq{
    margin-top: 13px;
    border-bottom: 0.5px solid lightgrey;
    cursor: pointer;
    flex-direction:column ;
}
.question{
    display: flex;
    min-height: 4vh;
    justify-content: space-between;
    font-size: 13px;
    color: grey;
}
.question h4{
    font-weight: 500;
}
.answer{
    max-height: 0;
    overflow: hidden;
    transition: 0.4s;
    margin-bottom: 0.5rem;
    font-size: 13px;
    line-height: 20px;
}
svg{
    transition: transform 0.4s ease-in-out;
}
.faq.active .question h4{
    font-weight: 900;
    color: black;

}
.faq.active .answer{
    max-height: 300px;
    animation: fade 0.4s ease-in-out;

}
.faq.active svg{
    transform: rotate(180deg);
}
@keyframes fade {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to{
        opacity: 1;
        transform: translate(0px);
    }
}